.header{
    margin: 50px 0;
    color: cadetblue;
    text-align: center;
    text-shadow: 1px 1px 1px lightgray;
    font-size: 50px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}